<div class="upload">
  <div class="container" appDnd (fileDropped)="onFileDropped($event)">
    <input
      type="file"
      id="fileZone"
      #fileDropRef
      multiple
      (change)="fileBrowseHandler($event)"
    />

    <div
      class="single-file"
      *ngFor="let file of files; let i = index"
      [ngClass]="{
        ready: filesProgress.get(file) == 100,
        error: filesProgress.get(file) == -5
      }"
    >
      <img class="icon" src="../../../assets/img/doc.svg" alt="file" />
      <div class="info">
        <h4 class="name" title="{{ file?.name }}">
          {{ file?.name | fileTitle: "10" }}
        </h4>
        <p class="size">
          {{ file?.size | sizeFormat }}
        </p>
        <app-progress [progress]="filesProgress.get(file)"></app-progress>
      </div>
      <img
        src="../../../assets/img/cancel.svg"
        class="delete"
        width="20px"
        alt="file"
        (click)="deleteFile(i)"
      />
    </div>
  </div>
</div>
