.fields {
    display: grid;
    height: 40px;
    line-height: 40px;
    text-align: center;
    grid-template-columns: 50px repeat(5, calc(20% - 10px));
    box-sizing: border-box;
    border-bottom: 1px double #e6e6e6;
    &:hover {
        background: #eaeaea;
    }
    &__field {
    }
    &.checked {
        background: #eaeaea;
    }
}
