<div class="main-block">
  <div class="main-block__top">
    <div class="main-block__search">
      <div class="search-icon"></div>
      <input
        [(ngModel)]="search"
        (ngModelChange)="updateSearch()"
        class="search"
        placeholder="{{ 'SEARCH' | translate }}"
        type="text"
        name="search"
      />
    </div>
    <div class="main-block__buttons">
      <div
        *ngIf="
          (selectedFiles.length > 0 || selectedFolders.length > 0) &&
          currentUser.post == 1
        "
        class="button delete"
        (click)="deleteItems()"
      >
        {{ "DELETE" | translate }}
      </div>
      <div
        *ngIf="selectedFiles.length > 0 || selectedFolders.length > 0"
        (click)="download()"
        class="button download"
      >
        {{ "DOWNLOAD" | translate }}
      </div>
    </div>
  </div>
  <app-upload *ngIf="path === 'my'" (fileLoad)="getFiles()"></app-upload>
  <div class="all-files" [ngClass]="{ notMy: path !== 'my' }">
    <div class="main-block__files">
      <div class="files__fields">
        <div class="field all" (click)="selectAll()">
          <mat-icon
            *ngIf="
              selectedFiles.length === files.length &&
                selectedFiles.length > 0 &&
                selectedFolders.length === folders.length &&
                selectedFolders.length > 0;
              else check
            "
            >check_box</mat-icon
          >
          <ng-template #check
            ><mat-icon>check_box_outline_blank</mat-icon></ng-template
          >
        </div>
        <div (click)="sortFiles('name')" class="field name">
          {{ "TABLE.name" | translate
          }}<span class="down"><mat-icon>arrow_drop_down</mat-icon></span>
        </div>
        <div (click)="sortFiles('author')" class="field author">
          {{ "TABLE.author" | translate
          }}<span class="down"><mat-icon>arrow_drop_down</mat-icon></span>
        </div>
        <div (click)="sortFiles('size')" class="field size">
          {{ "TABLE.size" | translate
          }}<span class="down"><mat-icon>arrow_drop_down</mat-icon></span>
        </div>
        <div (click)="sortFiles('category')" class="field category">
          {{ "TABLE.category" | translate
          }}<span class="down"><mat-icon>arrow_drop_down</mat-icon></span>
        </div>
        <div (click)="sortFiles('date')" class="field date">
          {{ "TABLE.date" | translate
          }}<span class="down"><mat-icon>arrow_drop_down</mat-icon></span>
        </div>
      </div>
      <div class="files__all">
        <app-folder
          *ngFor="let folder of folders"
          [folder]="folder"
          [choose]="selectedFolders.includes(folder)"
          (chooseFolder)="chooseFolder($event)"
        ></app-folder>
        <app-file
          *ngFor="let file of files"
          [file]="file"
          [choose]="selectedFiles.includes(file.id)"
          (chooseItem)="chooseItem($event)"
        ></app-file>
      </div>
    </div>
  </div>
</div>
