.fields {
    display: flex;
    height: 40px;
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px double #e6e6e6;
    &:hover {
        background: #eaeaea;
    }
    &__first {
        flex-basis: 50px;
    }
    &__field {
        flex-basis: calc(20% - 10px);
    }
    &.checked {
        background: #eaeaea;
    }
    .all {
        flex-basis: 50px;
    }
    .name {
        min-width: 250px;
        flex-basis: calc(50% - 259px);
    }
    .author {
        min-width: 250px;
        flex-basis: calc(50% - 259px);
    }
    .size {
        flex-basis: 150px;
    }
    .category {
        flex-basis: 150px;
    }
    .date {
        flex-basis: 170px;
    }
}
