.language-switcher {
    cursor: pointer;
    line-height: 35px;
}
.switch {
    position: relative;
}
.menu {
    position: absolute;
    left: -150px;
    width: 150px;
    padding: 5px 0;
    z-index: 555;
    background: rgb(248, 248, 248);
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 50%);
    text-align: center;
    &__item {
        cursor: pointer;
        padding: 5px;
        box-sizing: border-box;
        &:hover,
        :active {
            background: rgb(196, 192, 192);
        }
    }
}
