<div class="mainMenu">
  <h1 class="mainMenu__drive">Drive</h1>
  <div routerLink="/upload" class="mainMenu__addFileButton">
    <span class="text">{{ "ADD" | translate }}</span
    >{{ " " }}
    <img class="largePlus" src="{{ plus }}" />
  </div>
  <ul class="mainMenu__menu">
    <li
      *ngFor="let item of menuRoutes; let i = index"
      routerLink="/{{ item }}"
      class="menu-point"
      [class.active]="index === i"
      (click)="changeIndex(i)"
    >
      {{ "MENU." + item | translate }}
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
