<footer class="footer">
  <div class="footer__divs">
    <div class="copyright">
      © Copyright
      <a href="https://support.seacraft.eu/index.php/imprint/"> Marine Tech SA </a>
      .
    </div>
    <ul class="footer__menu">
      <li class="menu-item">
        <a href="https://support.seacraft.eu/index.php/imprint/">Imprint</a>
      </li>
      <li class="menu-item">
        <a href="https://support.seacraft.eu/index.php/cookies-policy/"> Cookies Policy </a>
      </li>
      <li class="menu-item">
        <a href="https://support.seacraft.eu/index.php/privacy-policy/"> Privacy Policy </a>
      </li>
    </ul>
  </div>
</footer>
