.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #f4f5f5;
    height: 68px;
    width: 100%;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    font-size: 14px;
    &__divs {
        width: 100%;
        display: flex;
        justify-content: space-between;
        line-height: 22px;
        .copyright {
            height: 22px;
            a {
                color: #999;
                margin: 0 5px;
            }
            a:hover,
            a:focus,
            a:active {
                text-decoration: underline;
            }
        }
    }
    &__menu {
        list-style: none;
        display: flex;
        justify-content: space-between;
        a {
            margin: 0 5px;
            color: #999;
        }
        a:hover,
        a:focus,
        a:active {
            text-decoration: underline;
        }
    }
}
