<h1 mat-dialog-title>{{ "ADDING" | translate }}</h1>
<div mat-dialog-content>
  <div class="form-field">
    <label class="form-field__title">{{ "TABLE.name" | translate }}</label>
    <app-input
      [type]="'name'"
      class="form-field__input"
      (isValid)="isValid($event, 'name')"
    ></app-input>
    <label *ngIf="!nameisvalid" class="form-field__error">
      {{ errorname }}
    </label>
  </div>
  <div class="form-field">
    <label class="form-field__title">{{ "TABLE.author" | translate }}</label>
    <app-input
      [type]="'author'"
      class="form-field__input"
      (isValid)="isValid($event, 'author')"
    ></app-input>
    <label *ngIf="!authorisvalid" class="form-field__error">
      {{ errorauthor }}
    </label>
  </div>
  <div class="form-field">
    <label class="form-field__title">{{ "TABLE.size" | translate }}</label>
    <app-input
      [type]="'size'"
      class="form-field__input"
      (isValid)="isValid($event, 'size')"
    ></app-input>
    <label *ngIf="!sizeisvalid" class="form-field__error">
      {{ errorsize }}
    </label>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()" cdkFocusInitial>
    {{ "CANCEL" | translate }}
  </button>
  <button mat-raised-button [mat-dialog-close]="file" [disabled]="!formisvalid">
    {{ "ADD" | translate }}
  </button>
</div>
