.main-block {
    position: relative;
    margin: auto;
    height: calc(100% - 172px);
    width: calc(100% - 50px);
    box-sizing: border-box;
    &__top {
        position: relative;
        margin-top: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__search {
        position: relative;
        width: 543px;
        height: 42px;
        .search {
            width: 543px;
            height: 42px;
            border-radius: 20px;
            outline: none;
            padding: 0 37px;
            box-sizing: border-box;
            border: none;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45) inset;
            &::before {
                content: "";
            }
            @media (max-width: 920px) {
                width: 300px;
            }
        }
        .search-icon {
            position: absolute;
            top: 15px;
            left: 15px;
            background: url("../../../../../assets/img/search.svg");
            width: 11.5px;
            height: 11.5px;
        }
        @media (max-width: 920px) {
            width: 300px;
        }
    }
    &__buttons {
        position: relative;
        width: 310px;
        display: flex;
        justify-content: flex-end;
        .button {
            position: relative;
            margin: 0 5px;
            width: 145px;
            font-size: 14px;
            font-weight: 600;
            height: 30px;
            line-height: 30px;
            cursor: pointer;
            color: #ffffff;
            border-radius: 50px;
            text-align: center;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .ban {
            background: #d02020;
            border: none;
            &:hover,
            :active {
                background: #911f1f;
            }
        }
        .moder {
            background: #b8df0c;
            border: none;
            &:hover,
            :active {
                background: #66741b;
            }
        }
        .allow {
            background: #00d412;
            border: none;
            &:hover,
            :active {
                background: #1ab340;
            }
        }
        @media (max-width: 690px) {
            margin: 10px 0 0;
        }
    }
    &__users {
        position: relative;
        bottom: 0;
        margin-top: 10px;
        background: #ffffff;
        z-index: 1;
        height: calc(100% - 63px);
        width: 100%;
        box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.05);
        border-radius: 15px;
        box-sizing: border-box;
        max-height: calc(100% - 63px);
        .users__all {
            overflow: auto;
            height: calc(100% - 49px);
        }
        .users__fields {
            display: flex;
            height: 49px;
            line-height: 49px;
            background: #fdc303;
            border-radius: 15px 15px 0 0;
            text-align: center;
            justify-content: space-between;
            @media (max-width: 670px) {
            }
        }
        .field {
            position: relative;
            cursor: pointer;
            flex-basis: calc(33% - 22px);
            &:not(:last-child)::after {
                content: "";
                position: absolute;
                right: 1px;
                top: 17px;
                background: #777777;
                height: 18px;
                width: 1px;
            }
            .down {
                position: relative;
                top: 8px;
            }
            &:hover,
            :active {
                color: #373737;
            }
        }
        .email {
            @media (max-width: 670px) {
                display: none;
            }
        }
        .login {
            @media (max-width: 670px) {
                flex-basis: calc(100% - 170px);
            }
        }
        .post {
            @media (max-width: 670px) {
                flex-basis: 150px;
            }
        }
        .all {
            flex-basis: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            mat-icon {
                font-size: 13px;
                height: 12px;
                width: 12px;
            }
            &::after {
                content: none !important;
            }
        }
        @media (max-width: 690px) {
            height: calc(100% - 92px);
        }
    }
}
