.login {
    position: relative;
    top: 70px;
    max-width: 1140px;
    margin: auto;
    min-height: calc(100% - 140px);
    .error-link {
        color: #383838;
        font-weight: bolder;
        &:hover,
        :active {
            text-decoration: underline;
        }
    }
    .support {
        &__title {
            color: #383838;
            min-height: 30px;
            font-size: 20px;
            width: 280px;
            line-height: 24px;
        }

        &__butt {
            margin: 10px 0;
            height: 44px;
            background-color: #2e4554;
            color: #fff;
            border-radius: 99px;
            font-size: 15px;
            font-weight: bolder;
            text-align: center;
            width: 255px;
            line-height: 44px;
            cursor: pointer;
            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            border: none;
            letter-spacing: 0.08rem;
            text-transform: uppercase;
            &:hover,
            :active {
                background: #feca2f;
            }
        }
        &__default {
            cursor: pointer;
            &:hover,
            :active {
                text-decoration: underline;
            }
        }
    }
    &__title {
        height: 28px;
        width: 100%;
        font-weight: bolder;
        font-size: 30px;
        box-sizing: border-box;
        border-bottom: 3px solid #fec829;
        margin-bottom: 30px;
    }
    &__form {
        position: relative;
        width: 280px;
        margin: 120px 0;
        .error {
            border-radius: 3px;
            border: 1px solid #c00;
            margin: 0 0 10px;
            padding: 4px;
            height: 30px;
            line-height: 25px;
            box-sizing: border-box;
            background: #ffebe8;
            color: #333;
        }
        .form-group {
            display: flex;
            flex-direction: column;
            width: 300px;
            margin: 10px auto;
            color: #383838;
            .form-control {
                box-sizing: border-box;
                font-size: 16px;
                border: 1px solid rgba(204, 204, 204, 0.5);
                border-radius: 5px;
                padding: 0px 5px;
                outline: none;
                height: 30px;
                line-height: 25px;
            }
            .is-invalid {
                border: 1px solid red;
            }
        }
        .btn {
            background: #2e4554;
            border-radius: 99px;
            border: 0;
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            text-shadow: none;
            cursor: pointer;
            height: 40px;
            width: 100px;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            outline: 0;
            overflow: visible;
            margin: 0;
            text-decoration: none;
            &:hover,
            :active {
                background: #feca2f;
            }
        }
    }
    @media (max-width: 1180px) {
        padding: 0 10px;
        box-sizing: border-box;
    }
}
