div,
li,
a,
input,
select {
    outline: none;
}
.nav {
    position: relative;
    height: calc(100% - 136px);
    width: 307px;
}
.mainMenu {
    position: absolute;
    background: #ffffff;
    z-index: 1;
    height: 100%;
    width: 100%;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.05);
    border-radius: 0 0 15px 0;
    padding: 32px;
    box-sizing: border-box;
    transition: all 0.3s;
    overflow: auto;
    &__drive {
        text-align: left;
        font-weight: bold;
        font-size: 26px;
        color: #3e3e3e;
    }
    &__space {
        position: absolute;
        bottom: 20px;
        left: 0;
        font-size: 20px;
        width: 100%;
        text-align: center;
    }
    &__addFileButton {
        margin-top: 22px;
        margin-bottom: 29px;
        width: 245px;
        height: 44px;
        background: #333131;
        text-align: center;
        cursor: pointer;
        color: #ffffff;
        border-radius: 35px;
        .text {
            font-size: 14px;
            font-weight: 600;
            line-height: 44px;
        }
        .largePlus {
            width: 11px;
            height: 11px;
            position: relative;
            top: 1px;
            user-select: none;
            pointer-events: none;
        }
        &:hover,
        :active {
            background: #5c5858;
        }
    }
    &__menu {
        width: 245px;
        font-size: 16px;
        color: #000000;
        text-align: left;
        .menu-point {
            height: 34px;
            padding: 0 17px;
            box-sizing: border-box;
            line-height: 34px;
            cursor: pointer;
            margin-bottom: 2px;
            &:hover,
            :active {
                background: #d9d9d9;
                font-weight: bold;
                border-radius: 20px;
            }
        }
        .active {
            background: #d9d9d9;
            font-weight: bold;
            border-radius: 20px;
        }
    }
    @media (max-width: 990px) {
        display: none;
    }
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 101;
    height: 22px;
    width: 22px;
    display: none;
    top: 5px;
    left: 10px;
    @media (max-width: 990px) {
        display: block;
    }
}

input[type="checkbox"] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
    &:checked {
        transition: all 0.3s;
        box-sizing: border-box;
        opacity: 0;
        & ~ #sidebarMenu {
            display: block;
            z-index: 55;
        }
        & ~ .nav {
            z-index: 55;
        }
        & ~ .sidebarIconToggle {
            transition: all 0.3s;
            box-sizing: border-box;
            transform: rotate(135deg);
            margin-top: 8px;
        }
    }
}
